.container {
    display: flex;
    padding: 1em;
}

.flight {
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

@media(max-width: 500px) {
    .flight {
        grid-template-columns: 1fr;
    }
}
